@using Blazor.Extensions
@using Blazor.Extensions.Canvas.WebGL
<h3>GameContextComponent</h3>

<BECanvas Width="300" Height="400" @ref="_canvasReference"></BECanvas>

@code {
    private WebGLContext _context;

    protected BECanvasComponent _canvasReference;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _context = await _canvasReference.CreateWebGLAsync();

        await _context.ClearColorAsync(0, 0, 0, 1);
        await _context.ClearAsync(BufferBits.COLOR_BUFFER_BIT);
    }

}